name: Update

on:
  workflow_dispatch:
  workflow_call:

permissions:
  contents: write

jobs:
  checkout:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - shell: powershell
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          & "update\webview2.ps1"